.red {
  color: red;
}

.scorecard {
  text-align: center;
  background-color: rgba(44,170,255,1);
  height: 300px;
  width: 300px;
  border: 2px solid white ;
  color: white;
}

.score {
  font-size: 140px;
}

.divbox {
  text-align: center;
  width: 400px;
  height: 400px;
  border-style: solid;
  border-width: 6px;
}