<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Exercise 8</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>

  <body>
    <div class="container">

      <div ng-controller="randomNumberPicker">
        <h3>The number is: {{ number }}</h3>
        <button ng-click="pickRandomNumber()" class="btn btn-warning">Pick a number!</button>
      </div>

      <div ng-controller="reverseText">
        <h3>Word Reverser</h3>
        <br>
        <input type="text" placeholder="Type here" ng-model="string"><br><br>
        <button class="btn btn-warning" ng-click="reverseText(string)">Reverse!</button><br><br>
        <p>Reversed string: {{ revString }}</p>
      </div>

    <h1>Ping Pong Score Keeper</h1>
    <div class="row" ng-controller="PingPongController">
      <div class="col-xs-6 scorecard" ng-click="scorePlayer1= scorePlayer1 + 1; serveCount= serveCount + 1">
        <h3>Player 1</h3>
        <h3 ng-show="serveCount % 2 == 0 && serveCount % 4 != 0">Your Serve!</h3>
        <div>
          <p class="score">{{ scorePlayer1 }}</p>
        </div>
      </div>

      <div class="col-xs-6 scorecard" ng-click="scorePlayer2= scorePlayer2 + 1; serveCount= serveCount + 1">
        <h3>Player 2</h3>
        <h3 ng-show="serveCount % 4 == 0">Your Serve!</h3>
        <div>
          <p class="score">{{ scorePlayer2 }}</p>
        </div>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-primary" ng-click="reset()">Reset!</button>
      </div>
    </div>

    <div ng-controller="MouseEnterController">
      <h1>ng-mouseenter</h1>
      <div class="divbox" ng-mouseenter="enterCount=enterCount + 1; randomColor()" ng-style="color">
        <h3>The div was entered {{ enterCount }} times</h3>
      </div>
      <button class="btn btn-success" ng-click="replay()">Replay</button>
    </div>

    <div ng-controller="ContactsController">
      <h1>ng-submit: Contacts App</h1>
      <!-- Add Contact -->
      <div class="row">
        <h1>Add Contact</h1>
        <form ng-submit="submitContact(newContact)">
          <div class="row">
            First Name
            <input type="text" name="fname" ng-model="newContact.fname"/>
            Last Name
            <input type="text" name="lastname" ng-model="newContact.lname"/>
          </div>
          <div class="row">
            Email
            <input type="text" name="email" ng-model="newContact.email"/>
            Phone
            <input type="text" name="phone" ng-model="newContact.phone"/>
            <input type="submit" value="Add" class="btn btn-success" />
          </div>
        </form>
      </div>
      <!-- Search Contacts -->
      <div class="row">
        <h1>Search</h1>
        <form>
          <input type="text" placeholder="Search" ng-model="search"/>
        </form>
      </div>

      <div class="row" ng-repeat="contact in myContacts | filter : search">
        <div class="contact">
          <p>Name: {{ contact.fName }} {{ contact.lName }}</p>
          <p>Email: {{ contact.email }}</p>
          <p>Phone: {{ contact.phone }}</p>
        </div>
      </div>

    </div>

  </div>

  <!-- SCRIPTS -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
