<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <title>{{ greeting }} World</title>
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cerulean/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="./css/main.css">
</head>
<body>

  <div class="container">
  <div class="row">
    <p class="red">Test</p>
    <p class="red">{{1 + 6}}</p>

    <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
    <p>{{ greeting }} world!</p>

    <input type="text" placeholder="What's yo' name?" ng-model="name" ng-init="name='What?'">

    <input type="text" placeholder="What's yo' name?" ng-model="name" ng-init="name2='Who?'">

    <input type="text" placeholder="What's yo' name?" ng-model="name" ng-init="name3='Slim Shady'">

    <h1>Hi, my name is: {{ name }}</h1>
    <h1>My name is: {{ name2 }}</h1>
    <h1>My name is: (wikky wikky) {{ name3 }}</h1>

    <p>1 + 2 = {{ 1 + 2}}</p>
    <p>The array [99,43,22] is {{ [99,43,22].length }} items long</p>

    <p>DOLLA DOLLA BILLS! {{ 3.14159265359 | currency }}</p>
    <p>EURO! {{ 3.14159265359 | currency:'€' }}</p>

    <p>ROUNDING! {{ 3.14159265359 | number:1 }}</p>
    <p>ROUNDING! {{ 3.14159265359 | number:2 }}</p>
    <p>ROUNDING! {{ 3.14159265359 | number:3 }}</p>
    <p>ROUNDING! {{ 3.14159265359 | number:4 }}</p>
    <p>ROUNDING! {{ 3.14159265359 | number:5 }}</p>

    <p>How many digits you want?</p>

    <select ng-model="digits">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>

    <p>Pi <span ng-if="digits=='1'">digit</span><span ng-if="digits > '1'">digits</span>: {{ 3.14159265359 | number:digits }}</p>

    <br><br>

    <input type="text" ng-model="string" ng-init="string='Oh my God, Becky.'">

    <p>Yelling: {{ string | uppercase }}</p>

    <p>Not yelling: {{ string | lowercase }}</p>

    <div>
    <h1>Super Useful Tip Calculator</h1>

    How much did your meal cost?
    <input type="text" placeholder="amount" ng-model="total">
    <br><br>
    How much you gon' tip?
    <select ng-model="tip">
      <option value='.1'>10%</option>
      <option value='.15'>15%</option>
      <option value='.20'>20%</option>
      <option value='.25'>25%</option>
    </select>

    <h1>Total: {{ total | currency }} </h1>
    <h1>Tip: {{ total*tip | currency }}</h1>
    <h1>New Total: {{ (tipTotal -- total) | currency }}</h1>
    </div>
  </div>

  <div class="row">
    <div ng-form class="col-xs-6">
      <h1 class="red">Please fill out the following!</h1>
      Boy's Name<br>
      <input type="text" ng-model="boyName" placeholder="Enter a boy's name ...">
      <br>Adjective<br>
      <input type="text" ng-model="adjective" placeholder="Enter an adjective ...">
      <br>Plural Noun<br>
      <input type="text" ng-model="noun1" placeholder="Enter a plural noun ...">
      <br>Plural Noun<br>
      <input type="text" ng-model="noun2" placeholder="Enter a plural noun ...">
      <br>An insect, plural<br>
      <input type="text" ng-model="insect" placeholder="Enter an insect, plural ...">
      <br>Plural Noun<br>
      <input type="text" ng-model="noun3" placeholder="Enter a plural noun ...">
      <br>A verb ending in "s"<br>
      <input type="text" ng-model="verb" placeholder="Enter a verb ending in 's' ...">
      <br>
      <button class="btn btn-danger">Generate!</button>
    </div>


      <div class="col-xs-6" ng-model="madLibs">
        <h3>I am in love with <span>{{ boyName }}</span>. He's so <span> {{ adjective }} </span>! He has big flat <span>{{ noun1 }}</span>, and when our <span>{{ noun2 }}</span> meet, I get <span>{{ insect }}</span> in my stomach. I've fallen for him like a ton of <span>{{ noun3 }}</span>, and he <span>{{ verb }}</span> for me, too. But I think he's got another girlfriend. What should I do?</h3>
      </div>

      <div>{{this}}</div> <!-- $SCOPE -->
  </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</body>
</html>